@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
}

.testimonial-enter {
  opacity: 0;
  transform: translateY(-10%);
}
.testimonial-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.testimonial-exit {
  opacity: 1;
  transform: translateY(0);
}
.testimonial-exit-active {
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 500ms, transform 500ms;
}
